/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .premium_mobile{display:none;}
	.table3_mobile{display:none;}
	#navbar ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

#header_banner {

	min-height:460px;

}
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .offer-logo {
        display: none;
    }

    .navbar .logo img {
        height: 140px;
    }
	#navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 8px 6px;
    }  
	.page-node-52 .header-bar.green-mdm img {
    position: absolute;
    left: 30px;
    top: -34px;
    width: auto;
    border-radius: 0px;
    border: 0px none;
}
#freesim-registration-form .col-sm-6{
padding:10px;
}
.node-type-cheap-call-rates #dm-title {
    position: absolute;
    top: 220px;
	left: 6%;
}
#main_country_flag {
    position: relative;
    top: 0px;
	left:0;
}
#dm-title .yellow {
    color: #E3E300;
    font-size:3.5em;
    font-family: "avenirnext demibold";
}
.node-type-cheap-call-rates #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
#main_country_flag img{width:80%;float:right;}

    #community-section img {
        transform: translate(-15%,0px);
    }

    #navbar.navbar .navbar-nav {
        display: inline-block;
        float: left;
        margin-top: 12px;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    .navbar.container {
        max-width: 100%;
    }

    #delight_home_section_block .ui-accordion .ui-accordion-icons {
        padding-left: 2.2em;
    }
    #edit-reg-link .register-btn::after {
    content: url("../images/arrow.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 18px;
    top: 4px;
}
    

   #dm-title {
    position: absolute;
    top: 130px;
	left:12%;
	}

    #dm-title h1 {
        line-height: 1.2;
        margin: 0;
    }

 /*    .page-node-7 #dm-title .yellow {
        color: #E3E300;
        font-size: 2.5em;
        font-family: "avenirnext demibold";
    }

    .page-node-7 #dm-title .white {
        color: #FFF;
        font-size: 28px;
        font-family: "avenirnext regular";
    }
 */
    .section-search {
    /* height: 170px; */
    }

    .section-search h1 {
        color: #006138;
        margin-top: 30px;
        font-size: 30px;
    }

    .section-bonus {
        background: #006634 none repeat scroll 0 0;
        display: block;
        color: #E2ED25;
        text-align: center;
        padding: 15px 5px;
        font-size: 20px;
        width: 100%;
        float: left;
    }

    .section-bonus .field-items span {
        font-family: "avenirnext regular";
        font-size: 28px;
        font-weight: 400;
        color: #FFF;
    }

    .section-bonus .field-items {
        font-family: "avenirnext demibold";
        font-size: 30px;
        font-weight: 700;
    }

    .header-bar p {
        display: inline-block;
        font-size: 28px;
        margin-left:20%;
        padding: 3px 0;
    }

    #delight_home_section_block .ui-accordion h3 a {
        font-size: 23px;
    }

    #delight_home_section_block .ui-accordion h3 {
        height: 110px;
    }

    #delight_home_section_block .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        top:29px;
    }

    #delight_home_section_block .ui-accordion .ui-accordion-content {
        padding: 10px 15px 10px 60px;
        border-radius: 0;
    }

    .free-sim-block {
        height: auto;
    }

    #delight_home_section_block {
        height: auto;
        width: 50%;
        float: left;
    }

    #new_delight_free_sim_section .node-article .field-item {
        font-family: "avenirnext demibold";
        font-size: 25px;
        color: #FFF !important;
        outline: 0 none;
        margin-top: 20px;
    }

   

    /* #community-section .field-item div {
        position: absolute;
        top: 8%;
        margin-left: 17%;
    } */
    #community-section .node-article h1 {
        font-family: "avenirnext demibold";
        font-size: 40px;
        color: #FFF !important;
        outline: 0 none;
    }

    #community-section .node-article h2 {
        font-family: "avenirnext regular";
        font-size: 40px;
        color: #F9EA37 !important;
        outline: 0 none;
    }

    #vendor-section img {
        width: 90% !important;
        height: auto !important;
        display: block;
        margin: 0 auto;
    }

    #vendor-section {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .footer ul li a {
        color: #FFF;
        font-size: 16px !important;
        padding: 0 15px !important;
        font-family: "latosemibold";
        line-height: 1.6;
    }

    .footer .block-title {
        font-size:15px ;
        margin: 0;
        color: #FFF;
        padding: 3px 16px !important;
        font-family: "lato bold";
    }
	#delight_copyright_section .menu li.first a {
    border-left: 0px solid #FFF;
    }

    #delight_copyright_section {
        text-align: center;
        font-size: 14px !important;
        font-family: "latosemibold" !important;
        color: #FFF;
    }

    /*payg*/
    .payg_content_section .field .field-item img {
        float: left;
        position: relative;
        top: -2px;
        width: 100%;
        height: auto;
    }

    .payg_content_section .content .field-name-body {
        float: left;
        width: 100%;
        padding:0 25px 0 25px;
    }
   .page-node-19 .payg_content_section .content .field-name-body {
        float: left;
        width: 100%;
        padding:0;
    } 
	.page-node-20 .payg_content_section .content .field-name-body {
        float: left;
        width: 100%;
        padding:0;
    }

     .page-node-13 #dm-title {
        position: absolute;
        top:150px;
        left: 12%;
    } 

    /* .page-node-13 #dm-title .yellow {
        color: #E3E300;
        font-size: 60px;
        font-family: "avenirnext bold";
    } */

  /*   .page-node-13 #dm-title .white {

  color: #FFF;
        font-size: 50px;
        font-family: "avenirnext regular";
    } */

    /*payg2*/
    .page-node-15 #dm-title {
        position: absolute;
        left: 13%;
		top:165px;
		top:140px;
    }

    .page-node-15 #dm-title .yellow {
        color: #E3E300;
        font-size: 5em;
        font-family: "avenirnext demibold";
    }

    /*payg3*/
    .page-node-38 #dm-title {
        position: absolute;
        left: 12%;
    }

    .page-node-38 #dm-title .yellow {
        color: #E3E300;
        font-size: 4.5em;
        font-family: "avenirnext demibold";
    }

    .page-node-38 #dm-title .white {
        color: #FFF;
        font-size: 3em;
        font-family: "avenirnext regular";
    }

    /*bundle*/
    #bundle-wrapper .page-header {
        color: #036733;
        border: 0 none;
        font-size: 28px;
        margin-bottom: 0;
        margin-top: 0;
        font-family: "avenirnext demibold";
    }

    #bundle-wrapper .field-type-text-with-summary .field-item {
        font-family: "lato regular";
        font-size: 16px;
    }

    .page-node-39 #dm-title {
        position: absolute;
        top: 190px;
        right: 11%;
    }

    .page-node-39 #dm-title .yellow {
        color: #E3E300;
        font-size: 5em;
        font-family: "avenirnext demibold";
    }

    .page-node-39 #dm-title .white {
        color: #FFF;
        font-size: 3em;
        font-family: "avenirnext regular";
    }

    /*offer-01*/
    .page-node-51 #dm-title {
        position: absolute;
        top:230px;
        left: 8%;
    }

    .page-node-51 #dm-title .yellow {
        color: #E3E300;
        font-size: 5em;
        font-family: "avenirnext demibold";
    }

    .page-node-51 #dm-title .white {
        color: #FFF;
        font-size: 3em;
        font-family: "avenirnext regular";
    }

    #offer-wrapper .field .field-item img {
        float: left;
        position: relative;
        top: -2px;
        margin-bottom: 20px;
        width:100%;
        height: auto;
        padding-right: 15px;
    }

    #offer-wrapper .content .field-type-image {
        width: 25%;
        display: block;
        float: left;
    }

    .page-node-51 #offer-wrapper .field-type-text-with-summary .field-item {
        width: 75%;
        float: left;
    }


    .page-node-51 .field-name-field-terms-and-conditions {
        font-family: "avenirnext regular";
        float: right;
        display: table;
        width: 75%;
        padding-top: 30px;
    }

    #offer-wrapper .field-item h3 {
        font-size: 30px;
    }

    #offer-wrapper .field-item h2 {
        font-size: 30px;
    }
	#delight_copyright_section {
 
    padding-bottom:0px;
}

    /*offer-02*/
    .page-node-55 #dm-title .yellow {
        color: #E3E300;
        font-size: 3.5em;
        font-family: "avenirnext demibold";
    }
	.page-node-55 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
    text-align: right;
}

    .page-node-55 #dm-title {
        position: absolute;
        top: 135px;
        right: 5%;
    }

    /*offer-03*/
.    .page-node-52 #dm-title {
        position: absolute;
        left: 13%;
        top: 110px;
    }

    .page-node-52 #dm-title .yellow {
        color: #E3E300;
        font-size: 3.5em;
        font-family: "avenirnext demibold";
    }

    .page-node-52 #dm-title .white {
        color: #FFF;
        font-size: 3em;
        font-family: "avenirnext regular";
    }
	#header-bar-flag h3 {
    color: #008E36;
    font-family: "avenirnext regular";
    font-size: 25px;
     }
	 .header-bar.green-mdm {
    background: #60906E none repeat scroll 0% 0%;
    color: #fff;
    font-family: "avenirnext medium";
    width: 100%;
    margin-top: 10px;
    float: left;
    position: relative;
	
   }
    .page-node-43 #dm-title {
        position: absolute;
        top: 160px;
        left: 7%;
    }

    .page-node-43 #dm-title .yellow {
        color: #E3E300;
        font-size: 4.5em;
        font-family: "avenirnext demibold";
    }

    .page-node-53 #dm-title {
        position: absolute;
        top: 120px;
        left: 9%;
    }
	.page-node-52 .header-bar img {
    position: absolute;
    left: 65px;
    top: 0;
    width: 40%;
}
.page-node-53 #dm-title .yellow {
    color: #E3E300;
    font-size: 5.5em;
    font-family: "avenirnext demibold";
}
.page-node-53 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
}
.navbar .logo {
 
    padding-left: 15px;
    padding-right: 45px;
}
#navbar.navbar-default .navbar-nav > li > a {
    font-family: "avenirnext demibold";
    color: #858585;
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: bold;
}
#header-bar-flag .header-bar p {
    display: block;
    font-size: 20px;
    margin-left: 0%;
    padding: 3px 0px;
    text-align: center;
    text-indent: 25%;
}
#offer-wrapper .field-type-text-with-summary .field-item .col-sm-8 {
   width:50%;
}
#offer-wrapper .field-type-text-with-summary .field-item .col-sm-4 {
   width:50%;
}
.page-node-52 .header-bar img {
    position: absolute;
    left: 65px;
    top: 0px;
    width: 38%;
}


    .sim-order a {
        color: #058C36;
        font-size: 22px;
        background: #FFF none repeat scroll 0 0;
        width: 100%;
        padding: 4px 12px;
        border-radius: 10px;
        text-decoration: none;
        font-family: "avenirnext medium";
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .sim-order {
        width: 100%;
        float: right;
        background: #089F98 none repeat scroll 0 0;
        border-radius: 10px;
        padding: 25px;
    }
	
	.sim-order h1 {
    color: #FFF;
    font-size: 30px;
    font-family: "avenirnext medium";
    margin-top: 10px;
}

    .page-node-54 #dm-title {
        position: absolute;
        top:250px;
        right: 17%;
    }
    #header-bar-flag .header-bar img {
    position: absolute;
    left: 65px;
    top: 0px;
	width:31%!important;
	height:auto!important;
   }
   
   .page-node-54 #header-bar-flag .header-bar p {
    text-indent: 140px;
	font-size: 20px;
	}
    .page-node-54 #dm-title .yellow {
        color: #FFF;
        font-size: 3.5em;
        font-family: "avenirnext regular";
    }

    .page-node-54 #dm-title .white {
        color: #E3E300;
        font-size: 4em;
        font-family: "avenirnext bold";
    }

    .page-node-12 #dm-title {
        position: absolute;
        top: 95px;
        left: 10%;
    }
	.page-node-12 #header_banner img {
    height: auto;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-44%, 0px);
}

    .page-node-12 #dm-title .yellow {
        color: #E3E300;
        font-family: "avenirnext medium";
        font-size: 4em;
    }

    .page-node-12 #dm-title .white {
        color: #FFF;
        font-family: "avenirnext regular";
        font-size: 2em;
    }

    .page-node-45 #dm-title {
        position: absolute;
        top: 90px;
        left: 20%;
    }

    .page-node-45 #dm-title .yellow {
        color: #E3E300;
        font-size: 4.5em;
        font-family: "avenirnext medium";
    }

    .region-sidebar-first .nav > li > a {
        font-size: 16px;
    }

    .region-sidebar-first .nav > li > a:hover,.region-sidebar-first .nav > li > a:focus,.region-sidebar-first .nav > li.active > a {
        color: #063;
        font-size: 14px;
        background: transparent none repeat scroll 0 0;
        font-family: "avenirnext bold";
    }
	.node-type-faq  #dm-title {
    position: absolute;
    top: 205px;
	left:7%;
     }
   #faq-wrapper.col-sm-9{width:70%;}
    #faq-wrapper .ui-accordion h3.ui-state-default a {
        color: #1D1D1B;
        margin-left: 20px;
        font-family: "avenirnext regular";
        font-size: 16px;
        display: inline-block;
    }


    #faq-wrapper .ui-accordion-content {
        font-family: "avenirnext regular";
        font-size: 15px;
    }

    #faq-wrapper .ui-accordion .ui-accordion-content {
        padding: 10px 30px 20px;
        border-top: 0 none;
        overflow: auto;
        color: #1D1D1B;
        height: auto !important;
    }

	 #operator_list ul li {
    background-color: #E4E4E4;
    border: 1px solid #D0D0D0;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
    width: 31% !important;
    float: left;
    margin: 5px;
	font-size:13px;
}
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        position: absolute;
        left: .5em;
        top: 50%;
        margin-top: -4px;
    }

    .page-node-47 #dm-title .yellow {
        color: #E3E300;
        font-size:3.5em;
        font-family: "avenirnext demibold";
    }
	

    .page-node-47 #dm-title {
        position: absolute;
        top:165px;
    }

    .page-node-42 #dm-title .white {
        color: #FFF;
        font-size: 32px;
        font-family: "avenirnext regular";
    }

    .page-node-42 #dm-title .yellow {
        color: #E3E300;
        font-size: 48px;
        font-family: "avenirnext demibold";
    }

    #edit-topup-amount .form-item-topup-amount {
        margin: 20px 19px 0 0;
    }

    .form-item-auto-topup-opt label[for="edit-auto-topup-opt"] {
        font-family: "lato bold";
        font-size: 18px;
        color: #026633;
        margin-bottom: 20px;
    }

    #edit-auto-topup-opt {
        border: 2px solid #CCC;
        border-radius: 20px;
		margin-right: 100px;
    }

    #edit-topup-desc {
        margin-top: 45px;
    }

    #edit-auto-topup-opt .form-item-auto-topup-opt {
        padding-left: 20px;
    }
	.page-node-45 #dm-title {
    position: absolute;
    top:145px;
    left: 20%;
}
	.node-type-faq #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-44%, 0px);
    height: auto;
   }

    .node-webform .contact {
        width: 100%;
        border: 1px solid #3BA934;
        float: left;
        padding: 15px 25px;
        height:auto;
        border-radius: 10px;
        margin-right: 0px;
		margin-bottom:15px;
    }

    .node-webform .write {
        width: 100%;
        border: 1px solid #3BA934;
        float: left;
        height: auto;
        border-radius: 10px;
        padding: 15px 25px;
        margin-left:0px;
    }
	aside.col-sm-3{width:30%}
    #content-wrapper.col-sm-9{width:70%}
    form.webform-client-form input.form-control,form.webform-client-form select.form-control {
        height: 40px;
        width: 65%;
        float: left;
        font-size: 16px;
        border-radius: 6px;
    }

    form.webform-client-form .form-item label {
        color: #008E36;
        font-family: "avenirnext regular";
        width: 35%;
        float: left;
        font-size: 15px;
    }

    form.webform-client-form .webform-submit {
        background: #036733 none repeat scroll 0 0;
        margin-left: 87%;
        margin-top: 20px;
        float: right;
    }

    form.webform-client-form textarea.form-control {
        width: 65% !important;
        float: right;
    }

    #edit-order-details label {
        font-family: "lato regular";
        font-size: 15px;
        font-weight: 400;
    }

    #topup-payment-form .pay-details {
        display: block;
        background: transparent none repeat scroll 0 0;
        padding: 20px 25px;
        border-radius: 30px;
        border: 4px solid #3BA836;
    }

    #topup-payment-form .pay-box {
        display: block;
        float: none;
        background: #E1ECC3 none repeat scroll 0 0;
        padding: 20px 25px;
        border-radius: 20px;
        font-family: "lato regular" !important;
    }

    #edit-lock-symbol-text .media-body {
        padding-left: 12px;
    }

    #edit-register-details {
        margin-bottom: 0;
    }

    .page-myaccount-login #content-wrapper .login-box {
        display: block;
        margin-right: 25px;
        background: #E1ECC3 none repeat scroll 0 0;
        padding: 20px 35px 30px;
        border-radius: 20px;
    }

    #myaccount-registration-form .reg-box {
        margin-left: 15px;
    }

    #myaccount-reg-verification-form .verify-box {
        margin-left: 15px;
    }

    #edit-form-title label {
        width: 100%;
        text-align: left;
    }

    #edit-address-title label {
        width: 100%;
        text-align: left;
    }

    #edit-password-title label {
        width: 100%;
        text-align: left;
    }

    #edit-email-adddress-title label {
        width: 100%;
        text-align: left;
    }

    #myaccount-reg-continue-form .form-item-dob-day {
        width: 54%;
        display: inline-block;
    }

    #myaccount-reg-continue-form .form-item-dob-day label {
        width: 60%;
    }

    #myaccount-reg-continue-form .form-item-dob-month,#myaccount-reg-continue-form .form-item-dob-year {
        width: 22.2%;
        display: inline-block;
    }

    #header_banner img {
        height: 530px;
        transform-origin: right top 0;
        margin-right: 10px;
        transform: translate(-27%,0px);
    }
	#delight_copyright_section .menu li a, #delight_copyright_section .menu li a:hover, #delight_copyright_section .menu li a:focus {
   
    padding: 0px 5px;
    
	}
	#delight_copyright_section section {
    display: inline-block;
    margin-right: 5px;
	margin-bottom:20px;
	}
	#community-section .field-item .container-box {
		position: absolute;
		top: 25%;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		width: 600px;
		display: table;
	}
.left-column {
    display: table-cell;
    padding-right:0px;
}
.page-node-13 .payg_content_section .node-payg {
    padding: 0px;
}
.page-node-13 .header-bar p {
    display: inline-block;
    font-size: 28px;
    margin-left: 26%;
    padding: 3px 0px;
}
/* .table1 thead th {
    padding: 5px 15px;
} */
.table1 tbody th {
    color: #006732;
    border-left: 2px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 0px 10px 0px 20px;
}
.table1 tbody td:nth-child(2) {
       padding: 0px 25px;
}
 table.table1 {
    padding: 0;
}
.page-node-13 table.table1 {
    font-family: "avenirnext medium";
    font-size: 14px;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
    margin-bottom: 30px;
    border: 0px none;
    margin-top: 75px;
    float: left;
    width: 100%;
    background: #FFF none repeat scroll 0% 0%;
    padding: 0px;
}


.page-node-13 .payg_content_section .content .field-name-body {
    padding-left: 24px;
}
#delight_payg_rates_section3_block .header-bar p {
    display: inline-block;
    font-size: 28px;
    margin-left: 18%;
    padding: 3px 0px;
    font-family: "avenirnext medium";
}
#delight_payg_rates_section3_block p {
    width:100%;
    float: left;
    font-family: "avenirnext regular";
    font-size: 16px;
}
#delight_payg_rates_section3_block .button-group {
    width:100%;
    float: left;
	margin-bottom:15px;
}
#delight_payg_rates_section3_block .button-group1 {
    width: 19%;
    float: right;
    margin-left:0;
    margin-top: 10px;
}
#delight_payg_rates_section2_block .list-inline.links {
    margin-top: 50px;
    display: table;
    table-layout: auto;
}
#delight_payg_rates_section2_block .container .row:nth-of-type(1) .col-md-12 ul li img{
   width:80px;
}
#delight_payg_rates_section2_block .container .row:nth-of-type(1) .col-md-12 {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#delight_payg_rates_section2_block .list-inline.links li a {
    font-size: 20px;
}
#delight_payg_rates_section2_block .list-inline.links li:nth-child(-n+2) a {
    font-size: 20px;
}
.page-node-19 #delight_payg_rates_section1_block h1 {
    color: #006138;
    margin-top: 30px;
    font-size: 32px;
	margin-bottom: 20px;
}
.smart-roaming-content {
    float: left;
    width: 100%;
    padding: 0px 20px 20px;
}
.page-node-19 .node-payg .list-inline.links {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    display: table;
    table-layout:auto;
}
.page-node-19 .node-payg .list-inline.links li:nth-child(-n+2) a {
    font-size: 16px;
	padding: 4px 10px;

}
.page-node-19 .node-payg .list-inline.links li a {
    font-size: 16px;
	padding: 4px 10px;
 }
 .page-node-19 .payg_content_section {
    margin: 30px 0px 20px;
}
#roamingResults .header-bar p {
    display: inline-block;
    font-size: 20px;
    margin-left: 23%;
    padding: 3px 0px;
}
#roamingResults .container {
    padding: 0px 35px;
}
.page-node-20 #dm-title .white {
    color: #FFF;
    font-size: 2.5em;
    font-family: "avenirnext regular";
}
.page-node-20 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 3.5em;
}
.page-node-20 #dm-title {
    position: absolute;
    top: 300px;
    left: 5%;
}
.page-node-20 #delight_payg_rates_section1_block h1 {
    color: #006138;
    margin-top: 30px;
    font-size: 32px;
	margin-bottom:20px;
}
#roamingResults .header-bar img {
    position: absolute;
    left: 60px;
    top: -22px;
}
.table2 tbody th {

    font-size: 16px;
    padding: 10px 7px;

}
.page-node-20 .node-payg .list-inline.links {
    margin-bottom: 30px;
    width: 100%;
    display: table;
    table-layout:auto;
}
.page-node-20 .node-payg .list-inline.links li:nth-child(-n+2) a {
 
    font-size: 16px;
    padding: 4px 10px;
 
}
.page-node-20 .node-payg .list-inline.links li a {
 
    font-size: 16px;
    padding: 4px 10px;
 
}
#bundle-wrapper {
    padding: 30px 30px;
}
#topup-registration-form #edit-title label {
    font-family: "lato bold";
    font-size: 20px;
    color: #026633;
}
#topup-registration-form .reg-box label {
    width: 30%;
    font-family: "lato bold";
    font-size: 13px;
    text-align: right;
    font-weight: 400;
    display: inline-block;
	padding-right:1%;
}
#topup-registration-form .reg-box .form-control {
    width: 69%;
    display: inline-block;
    height: 44px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 18px;
    font-family: "lato regular";
}
#topup-registration-form #edit-btn-submit.form-submit {
    font-family: "lato bold";
    font-size:18px;
    padding: 0px;
	width: 69%;
	margin-left: 31%;
    background-color: #058C36;
    border-radius: 10px;
    height:44px;
    color: #FFF;
    border: 2px solid #B0B0B0;
    position: relative;
}
#topup-registration-form .col-sm-7{width:100%;}
#topup-registration-form .col-sm-5{width:100%;}
#topup-payment-form .col-sm-7{width:55%;margin-bottom:30px;}
#topup-payment-form .col-sm-5{width:45%;}
.page-order-freesim #freesim-registration-form .free-sim {
    display: block;
    float: none;
    background: #E1ECC3 none repeat scroll 0% 0%;
    padding: 20px;
    border-radius: 20px;
    margin-right: 0%;
	margin-bottom:20px;
}
.page-myaccount-forgot-password #content-wrapper .fwd-box {
    display: block;
    float: none;
    background: #E1ECC3 none repeat scroll 0% 0%;
    padding: 20px 35px;
    border-radius: 20px;
    margin-left: 0px;
	margin-top:20px;
}
.no-padding {
    padding:0 15px 0 15px;
}
.table1 thead th:nth-child(2) img {
    position: absolute;
    bottom: 5px;
    left: 12px;
    width: 80%;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width:767px) {
   .container{
   padding:0 20px 0 20px;
   }
   #roamingResults .container {
    padding: 0px 20px;
}
.premium-rates-table{display:none;}
.table1{display:none;}
.page-node-19 #delight_payg_rates_section1_block input {
    
    text-indent:30px;

}
   
   #navbar.container > .navbar-header, #navbar.container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 44px;
        height: 3px;
        border-radius: 0;
    }
.navbar .logo {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
	position:relative;
	z-index:9999;
}
	#navbar .navbar-header {
    position: absolute;
    right: 0px;
    left: 0px;
    padding-left: 10px;
    padding-right: 45px;

}
.node-type-cheap-call-rates #dm-title .white {
    color: #FFF;
    font-size: 33px;
    font-family: "avenirnext regular";
}
.node-type-cheap-call-rates #dm-title .white {
    color: #FFF;
    font-size: 33px;
    font-family: "avenirnext regular";
}

    #navbar.navbar .navbar-collapse {
        text-align: left;
        position: absolute;
        top: 50px;
        width: 100%;
        border-top: 0;
		padding:0px;
		background:#fff;
		z-index: 2;
		left: 0;
    }
	#navbar.navbar-default .navbar-nav > li > a {
    font-family: "avenirnext demibold";
    color: #858585;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: bold;
	padding:12px 20px 12px 20px;
	background: transparent -moz-linear-gradient(center top , #fff, #fff) repeat scroll 0% 0%;
}
#navbar.navbar-default .navbar-nav > li:first-child > a {
  /*  padding-top:20px; */	
}
#navbar.navbar-default .caret {
    display: inline-block;
    width: 14px;
    height: 9px;
	background: url(../images/dwn-arw.png) no-repeat 0 0 / 70%;
    vertical-align: middle;
    border-width:0px;
    border-style: solid solid dotted;
    border-color:transparent;
    margin-left: 2px;
    text-align: right;
    float: right;
}
	#navbar .nav > li {
/*    padding:5px 5px 5px 5px; */
   border-bottom:1px solid #cecece;
	}
	#navbar .nav > li:last-child {
   border-bottom:0;
	}
    #navbar .nav > li {
        border-right: 0;
        background: #fff;
    }

    #navbar .navbar-toggle {
        position: relative;
        float: left;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;

    }
	#navbar .dropdown-menu {
       background:rgba(204,204,204, 0.5);
	   box-shadow:0 0 1px 1px #ccc;
	   margin-bottom:0px;
    }
	#navbar .dropdown-menu > li > a{
        padding: 10px 0px 10px 30px;
		font-size:18px;
    }
	#navbar .dropdown-menu > li > a:hover{
        color:#fff;
    }
	#navbar .dropdown-menu  > li {
		font-size:18px;
    }
	#navbar .dropdown-menu > li > a {
    border-bottom: 0px solid #fff;
    font-family: "avenirnext medium";
    text-align: left;
    }
	#navbar .dropdown-menu > li.active > a{
    border-bottom: 0px solid #fff;
    font-family: "avenirnext medium";
	color:#fff;
    text-align: left;
    }
	.page-node-15.payg_content_section .content h1 {
    font-family: "avenirnext demibold";
    font-size: 36px;
    color: #016938;
}

    #navbar.navbar-default .navbar-toggle .icon-bar {
        background-color: #026838;
        margin-bottom: 1px;
    }

    #navbar .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 6px;
    }

    #navbar .navbar .logo {
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 45px;
    }
	.navbar-btn {
    margin-top: 20px;
    margin-bottom: 8px;
}


    #navbar.navbar .navbar-nav {
        display: inline-block;
        float: left;
        margin-top: 12px;
        width: 100%;
		margin:0;
    }
	#community-section .field-item .container-box {
    position: absolute;
    top:14%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 700px;
    display: table;
}
.left-column {
    float: left;
    display: table-cell;
    padding-right:0px;
}
#header_banner img {
    height: 530px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-34%, 0px);
}
#block-menu-menu-legal-menu-links{display:none;}
.section-bonus {
    background: #006634 none repeat scroll 0px 0px;
    display: block;
    color: #E2ED25;
    text-align: center;
    padding: 15px 15px;
    font-size: 20px;
    width: 100%;
    float: left;
}
.section-search h1 {
    color: #006138;
    margin-top: 65px;
    font-size: 30px;
}
.page-node-52 #offer-wrapper .field-type-text-with-summary .field-item {
    font-family: "avenirnext regular";
    font-size: 18px;
    float: left;
    margin-top: 85px;
}
#delight_home_section_block {
    height: auto;
    width: 100%;
    float: left;
}
#new_delight_free_sim_section {
    width: 100%;
    float: left;
	padding-bottom:50px;
}
#bundle-wrapper {
    padding: 30px 15px 20px 15px;
}
.page-node-39 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
}
.page-node-39 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: "avenirnext demibold";
}
.page-node-39 #dm-title {
    position: absolute;
    top: 110px;
    right: 11%;
}
.page-node-51 #dm-title {
    position: absolute;
    top: 120px;
    left: 8%;
}
.page-node-51 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: "avenirnext demibold";
}
.page-node-51 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
#offer-wrapper .field-item h3 {
    font-size: 25px;
	margin-top:0;
}
.left-column {
    float: left;
    display:none;
    padding-right: 0px;
}
.right-column {
    float: left;
    display: block;
	width:100%;
}
.right-column a {
    width: 100%;
	margin-top:15px;
   }

#community-section .node-article h1 {
    font-family: "avenirnext demibold";
    font-size: 36px;
    color: #FFF !important;
    outline: 0px none;
	margin-bottom:0;
	line-height:1.3;
}
#community-section .node-article h2 {
    font-family: "avenirnext regular";
    font-size: 36px;
    color: #F9EA37 !important;
    outline: 0px none;
	 margin-top:0;
	 line-height:1.3;
}
#community-section .field-item .container-box {
    width:340px;
	display:block;
}
#new_delight_free_sim_section .content {
    padding-left:0%;
    text-align: center;
}
#new_delight_free_sim_section .node-article .field-item a {
  margin-top: 20px;
    margin-left:0px;
  
}
#new_delight_free_sim_section .node-article .field-item {
    font-family: "avenirnext medium";
    font-size: 30px;
    color: #FFF !important;
    outline: 0px none;
    margin-top: 20px;
	margin-bottom:30px;
}
#vendor-section img {
    width: 95% !important;
    height: auto !important;
    display: block;
    margin: 0px auto;
}
#community-section .field-item > img {
    transform: translate(-620px, 0px);
}
#block-menu-menu-legal-menu-links{display:block;}
#delight_copyright_section .menu li {
    display:block;
}
#delight_copyright_section .menu li a, #delight_copyright_section .menu li a:hover, #delight_copyright_section .menu li a:focus {
    color: #FFF;
    border-left: 0px ;
    padding: 5px 15px 0px 15px;
    background: transparent none repeat scroll 0% 0%;
    font-family: "latosemibold" !important;
}
#delight_copyright_section section {
    display: block;
    margin-right: 5px;
    margin-bottom: 20px;
}
#footer .block-title:before{
content: url("../images/arrow-right.png");
width:10px; 
height:20px; 
padding-right:10px;
}

#block-copyright-block-copyright-block{
 position: absolute;
bottom: -8px;
left: 15px;
}

.footer #block-menu-menu-dm-footer-menu {
    display: block;
    float: left;
    width: 100%;
}
.footer #block-menu-menu-dm-footer-menu-bundles {
    display: block;
    float: left;
    width: 100%;
}
.footer #block-menu-menu-dm-footer-offers {
    display: block;
    float: left;
    width: 100%;
}
.footer #block-menu-menu-dm-footer-support-menu {
    display: block;
    float: left;
    width: 100%;
}
.footer ul li a {
    color: #FFF;
    font-size: 18px !important;
    padding: 3px 0px !important;
    font-family: "latosemibold";
    line-height: 1.6;
}
.footer .block-title {
    font-size: 15px;
    margin:10px 0px 0px 0;
    color: #FFF;
    padding: 3px 0 !important;
    font-family: "lato bold";
}
.footer .block-menu ul {
    padding-left:30px;
}
#delight_copyright_section {
     padding-bottom:30px;
}
.block:first-child h2.block-title {
      margin:10px 0px 0px 0;
	  cursor:pointer;
}
footer .block-title {
    font-size: 20px !important;
    margin: 0px;
    color: #FFF;
    padding: 0px 16px !important;
    font-family: "latosemibold"!important;
	cursor:pointer;
}
#delight_copyright_section section {
color: #FFF;
font-size: 20px !important;
padding:0 15px !important;
font-family: "latosemibold";
line-height: 1.6;
margin-bottom:30px;
margin-left:0px;

}
.header-bar p {
    display: inline-block;
    font-size: 30px;
    margin-left: 26%;
    padding: 3px 0px;
}
#delight_copyright_section {
    text-align:left;
   
}
.footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom:0px;
    border-top: 1px solid #E5E5E5;
}
.srh-box {
    width: 400px;
    padding: 5px 30px;
    height: 40px;
    font-size: 20px;
    border: 0px none;
    text-align: center;
    border-radius: 15px;
    font-family: "myriad pro";
}
.section-search {
    background: transparent url("../images/bg-search.jpg") no-repeat scroll center center / cover;
    width: 100%;
    height: 230px;
    display: block;
    float: left;
    text-align: center;
    padding: 0 25px;
}
#delight_home_section_block .ui-accordion .ui-accordion-content {
    padding: 30px 20px 30px 20px;
    border-radius: 0px;
}
#delight_home_section_block .ui-accordion h3 a {
    font-size: 27px;
}
#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 1.2em;
}
.page-node-13 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext bold";
    font-size: 5em;
}
.page-node-13 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 4.5em;
}
.payg_content_section .content .field-type-image {
    width: 27%;
    display:none;
    float: left;
}
.page-node-13 .payg_content_section .content .field-name-body {
    float: left;
    width: 100%;
    padding:0;
}
.page-node-13 .payg_content_section h2 {
    color: #036733;
    border: 0px none;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: "avenirnext demibold";
	text-align:center;
}
.payg_content_section .field-type-text-with-summary .field-item strong {
    font-family: "avenirnext demibold";
    font-size: 25px;
    color: #036733;
    width: 100%;
	line-height:1.1;
}
.payg_content_section .field-type-text-with-summary .field-item strong {
    font-family: "avenirnext demibold";
    font-size: 25px;
    color: #036733;
    width: 100%;
	line-height:1.1;
		
}
 .page-node-13 .payg_content_section .field-type-text-with-summary .field-item p {
    font-family: "avenirnext regular";
    font-size: 20px;
    float: left;
    margin-bottom: 0px;
    line-height: 1.6;
}
.payg_content_section .field-type-text-with-summary .field-item p{
margin-top:40px;
}
.header-bar img {
    position: absolute;
    left: 30px;
    top: -20px;
    width: 90px;
    border-radius: 25px;
    border: 0px solid #048D35;
}
.page-node-13 .header-bar img {
    position: absolute;
    left: 25px;
    top: -22px;
}
.section-rate-compare form[name="frm_compare_rates"] {
    color: #2D2E82;
    font-family: "avenirnext medium";
    font-size: 32px;
    padding: 20px 30px 0 30px;
}
.payg_content_section .content .field-name-body {
    float: left;
    width: 100%;
    padding: 0px 5px;
}
.page-node-15 .payg_content_section .content h1 {
    font-family: "avenirnext demibold";
    font-size: 36px;
    color: #026a39;
}	
.page-node-15 .payg_content_section .field-type-text-with-summary .field-item p {
    margin-top:0px;
	font-size:18px;
	font-family:"avenirnext regular";
}
#delight_payg_rates_section3_block .header-bar p {
    display: inline-block;
    font-size: 28px;
    margin-left: 29%;
    padding: 3px 0px;
    font-family: "avenirnext medium";
}
#delight_payg_rates_section3_block .button-group a {
    font-size: 20px;
    padding: 8px 35px;
    margin-bottom: 20px;
	width:100%;
}
#delight_payg_rates_section3_block .button-group1 {
    width: 100%;
    float: right;
    margin-left: 0px;
    margin-top: 10px;
}
#delight_payg_rates_section3_block .button-group1 a {
    background: #016837 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 20px;
    padding: 8px 12px;
    float: right;
    width: 100%;
    text-align: center;
    font-family: "avenirnext medium";
}
.page-node-17 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
}
#delight_payg_rates_section2_block .container .row:nth-of-type(1) .col-md-12 {
    display: block;
    width: 100%;

}
#edit-reg-link .register-btn {
    width: 100%;
    font-family: "lato bold";
    font-size: 22px;
    background-color: #058C36;
    border-radius: 10px;
    height: 44px;
    color: #FFF;
    border: 2px solid #B0B0B0;
    position: relative;
}
#freesim-registration-form .col-sm-6{
padding:0;
}
.page-order-freesim #freesim-registration-form .free-sim {
    display: block;
    float: none;
    background: #E1ECC3 none repeat scroll 0% 0%;
    padding: 20px 20px;
    border-radius: 20px;
    margin-right: 0%;
    margin-bottom: 20px;
}
#freesim-registration-form #edit-sim-type-img span {
    width: 50%;
    display: table-cell
	}

.#delight_payg_rates_section2_block .list-inline {
    text-align: left;
    display:table;
    width: 100%;
}
#delight_payg_rates_section2_block .list-inline > li {
    display:inline-block;
    text-align: center;
	width: 24%
}


#delight_payg_rates_section2_block .list-inline > li > a {
    display: block;
    color: #1E1E1E;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
}
#delight_payg_rates_section2_block .list-inline.links li {
    display: block;
    width: 100%;
	padding:0;
	margin-bottom:15px;
}
#delight_payg_rates_section1_block .section-search form[name="frm_compare_rates"] input {
    width: 400px;
    padding: 5px 30px;
    height: 40px;
    font-size: 20px;
    border: 0px none;
    text-align: center;
    border-radius: 15px;
    font-family: "myriad pro";
    margin-top: 10px;
}
#header_banner img {
    height: 530px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-44%, 0px);
}
.page-node-17 #dm-title {
    position: absolute;
    top: 190px;
    left: 12%;
}
.page-node-19 #dm-title {
    position: absolute;
    top: 230px;
    right: 8%;
    text-align: right;
    text-shadow: 0px 0px 10px #0E0E0E;
}
.page-node-19 #delight_payg_rates_section1_block input {
    width: 400px;
  
}
.page-node-19 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
}
.page-node-19 #delight_payg_rates_section1_block .section-rate-compare {
    background: transparent url("../images/bg-search.jpg") no-repeat scroll center center / cover;
    width: 100%;
    display: block;
    text-align: center;
    float: left;
    height: 265px;
}
.page-node-19 .node-payg .content .field-item strong {
    font-family: "avenirnext demibold";
    color: #058C36;
    font-size: 28px;
	text-align:center;
}
.payg_content_section .field-type-text-with-summary .field-item p {
    margin-top: 40px;
}
.page-node-19 .payg_content_section .field-type-text-with-summary .field-item p {
    font-family: "avenirnext regular";
    font-size: 18px;
    float: left;
    margin-bottom: 0px;
    line-height: 1.4;
}
.page-node-19 .node-payg .list-inline.links li:nth-child(-n+2) a {
    font-size: 20px;
    padding: 4px 10px;
	width:100%;
	display:block;
}
.page-node-19 .node-payg .list-inline.links li a {
    font-size: 20px;
    padding: 4px 10px;
    width:100%;
	display:block;
}
.page-node-19 .node-payg .list-inline.links li {
    display: block;
	padding:0;
	margin-bottom:15px;
}
.page-node-20 #delight_payg_rates_section1_block input {
    width: 400px;
   
}
.page-node-20 #delight_payg_rates_section1_block .section-rate-compare {
    background: transparent url("../images/bg-search.jpg") no-repeat scroll center center / cover;
    width: 100%;
    display: block;
    text-align: center;
    float: left;
    height: 275px;
}
.page-node-20 .payg_content_section .field-type-text-with-summary .field-item p {
    margin-top: 20px;
}
.page-node-20 .node-payg .list-inline.links li {
    display: block;
	width:100%;
	padding:0;
	
}.page-node-20 .node-payg .list-inline.links li  a{
   margin-bottom:20px;
   font-size:20px;
	
}
.page-node-20 .node-payg .list-inline.links li:nth-child(-n+2) a {
    font-size: 20px;
   
}
.page-node-20 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-38 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: "avenirnext demibold";
}
#offer-wrapper .content .field-type-image {
  
    display: none;
    
}
.page-node-51 #offer-wrapper .field-type-text-with-summary .field-item {
    width:100%;
    float: left;
}
.field-name-field-terms-and-conditions {
    font-family: "avenirnext regular";
    display: table;
    width: 100%;
    padding-top: 30px;
    float: right;
}
#offer-wrapper {
    padding: 30px 15px;
}
.page-node-51 .field-name-field-terms-and-conditions {
    font-family: "avenirnext regular";
    float: right;
    display: table;
    width:100%;
    padding-top: 30px;
}
.page-node-55 #header_banner img {
    height: 530px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-30%, 0px);
}
#header-bar-flag .header-bar img {
    position: absolute;
    left:20px;
    top: 0px;
    width: 40% !important;
    height: auto !important;
	border-radius:0;
}
#header-bar-flag .container {
    padding: 0px 25px;
}
#header-bar-flag h3 {
    color: #008E36;
    font-family: "avenirnext regular";
    font-size: 30px;
	padding-left:10px;
}
.page-node-43 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
}
.page-node-53 #dm-title .yellow {
    color: #E3E300;
    font-size: 4.5em;
    font-family: "avenirnext demibold";
}
#offer-wrapper .field-type-text-with-summary .field-item .col-sm-8 {
    width: 100%;
	margin-bottom:20px;
}
#offer-wrapper .field-type-text-with-summary .field-item .col-sm-4 {
    width: 100%;
}
#header-bar-flag .header-bar p {
    display: block;
    font-size: 20px;
    margin-left: 0%;
    padding: 3px 0px;
    text-align: left;
    text-indent: 0;
}
#header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 49px;
    width: 270px !important;
    height: auto !important;
    border-radius: 0px;
}
.sim-order h1 {
    color: #FFF;
    font-size: 38px;
    font-family: "avenirnext medium";
    margin-top: 10px;
}
#offer-wrapper .field .field-item .sim-order img{
	width:auto;
}
.sim-order a {
    font-size: 28px;
 }
 
.page-node-54 #header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 55px;
    width: 200px !important;
    height: auto !important;
    border-radius: 0px;
}
.page-node-54 .node-offers {
    width: 100%;
    margin-left:0%;
	margin-top:70px;
}
.page-node-54 #header-bar-flag .header-bar p {
    text-indent: 0;
    font-size: 20px;
	margin-left: 0%;
	text-align:center;
}
.sim-order {
    width: 100%;
    float: right;
    background: #089F98 none repeat scroll 0px 0px;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
aside.col-sm-3{width:100%;}
#content-wrapper.col-sm-9{
width:100%;
}
#content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.page-node-12 #dm-title {
    position: absolute;
    top: 130px;
    left: 10%;
}
.region-sidebar-first .nav > li {
    border-bottom: 1px solid #FFF;
    height: 45px;
}
.page-node-12 #header_banner img {
    height: auto;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-50%, 0px);
}
.node-type-faq #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-53%, 0px);
    height: auto;
}
.page-node-45 #dm-title {
    position: absolute;
    top: 245px;
    left: 12%;
}
#faq-wrapper.col-sm-9{
width:100%;
padding-top:0;
}
#faq-wrapper .ui-accordion {
    float: left;
    width: 100%;
}
#operator_list ul li {
    background-color: #E4E4E4;
    border: 1px solid #D0D0D0;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 5px;
    width: 30% !important;
    float: left;
    margin: 5px;
    font-size: 13px;
}
.page-myaccount-login #content-wrapper .login-box {
    display: block;
    margin-right:0px;
    background: #E1ECC3 none repeat scroll 0px 0px;
    padding: 20px 35px 30px;
    border-radius: 20px;
	margin-bottom:20px;
}
#edit-auto-topup-opt {
    border: 2px solid #CCC;
    border-radius: 20px;
    margin-right: 0px;
    width: 250px;
}
#topup-payment-form .col-sm-7 {
    width:100%;
    margin-bottom: 30px;
	padding:0;
}
#topup-payment-form .col-sm-5 {
    width: 100%;
	padding:0;
}
.no-padding {
    padding: 0px;
}
#topup-review-confirm .card-details {
    font-family: "lato regular";
    font-size: 18px;
    margin-bottom: 20px;
}
.smart-roaming-content {
    float: left;
    width: 100%;
    padding: 0px 0px 20px 0;
}
#roamingResults .header-bar img {
    position: absolute;
    left: 20px;
    top: -22px;
}
.node-type-legel-page #dm-title {
    position: absolute;
    top: 185px;
    left: 4%;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#roamingResults .container {
		padding: 0px 20px;
	}
	#roamingResults .header-bar img {
    position: absolute;
    left: 20px;
    top: -16px;
   }
   .node-type-legel-page #dm-title .yellow {
    color: #E3E300;
    font-size: 2.5em;
    font-family: "avenirnext demibold";
}
   .node-type-legel-page #dm-title .white {
    color: #FFF;
    font-size: 27px;
    font-family: "avenirnext regular";
}
.page-node-52 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.top-links a {
    display: block;
    width: 50%;
    float: left;
    padding: 3px 20px;
    color: #FFF;
    font-size: 18px;
    font-family: "avenirnext demibold";
    cursor: pointer;
}
   #roamingResults .header-bar p {
    display: inline-block;
    font-size: 18px;
    margin-left: 26%;
    padding: 3px 0px;
}
#header-bar-flag .header-bar p {
    display: block;
    font-size: 18px;
    margin-left: 0%;
    padding: 3px 0px;
    text-align: left;
    text-indent: 0px;
}
#supporting_country-section{
padding-bottom:20px;
}
.node-type-legel-page  #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
#supporting_country-section .sub-header {
    background: #458F6A none repeat scroll 0% 0%;
    font-size: 20px;
    font-family: "avenirnext medium";
    padding: 10px 0px;
    color: #FFF;
}
.node-type-cheap-call-rates #freesim-registration-form .free-sim {
    display: block;
    float: none;
    background: #E1ECC3 none repeat scroll 0% 0%;
    padding: 20px;
    border-radius: 20px;
}
#supporting_country-section ul li img{
width:80%;
}
#main_country_flag img {
    width: 60%;
    float:left;
}
.node-type-cheap-call-rates #dm-title {
    position: absolute;
    top: 155px;
    left: 6%;
}
#main_country_flag {
    position: relative;
    top: 0px;
    left: 0px;
}
    #header_banner img {
        height: 530px;
        transform-origin: right top 0;
        margin-right: 10px;
        transform: translate(-45%,0px);
    }
	.page-node-52 #offer-wrapper .field-type-text-with-summary .field-item {
    font-family: "avenirnext regular";
    font-size: 18px;
    float: left;
    margin-top: 80px;
}
#content-wrapper .field-type-text-with-summary .field-item {
    font-family: 'avenirnext regular';
    font-size: 20px;
    float: none;
}
#content-wrapper .field-type-text-with-summary .field-item p {
    font-family: "avenirnext regular" !important;
    font-size: 18px !important;
}
    #header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 49px;
    width: 40% !important;
    height: auto !important;
    border-radius: 0px;
}
	#header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 49px;
    width: 40% !important;
    height: auto !important;
    border-radius: 0px;
}
.page-node-52 #offer-wrapper .field-type-text-with-summary .field-item {
    font-family: "avenirnext regular";
    font-size: 18px;
    float: left;
    margin-top: 80px;
}

    .page-node-7 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    margin-bottom: 20px;
    font-size: 3em;
}
.section-search h1 {
    color: #006138;
    font-size: 30px;
    margin: 51px 25px 20px;
}

    .page-node-7 #dm-title .white {
        color: #FFF;
        font-family: "avenirnext regular";
        font-size: 30px;
    }

    #dm-title h1 {
        line-height: 1;
        margin: 0;
        text-shadow: 5px 5px 20px #000;
    }

    .navbar.container {
        max-width: 100%;
    }

    #navbar .navbar-header {
        position: absolute;
        right: 0px;
        left: 0px;
		padding-left:10px;
    }

   #navbar.navbar .logo {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}


    #navbar .navbar-btn {
        margin-top: 18px;
        margin-bottom: 8px;
    }
	.page-node-13 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext bold";
    font-size: 3.5em;
}
.page-node-13 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 3.5em;
}
.page-node-13 #dm-title {
    position: absolute;
    top: 250px;
    left: 12%;
}

    .section-bonus .field-items p {
        font-family: "avenirnext demibold";
        font-size: 30px;
        font-weight: 700;
        margin: 10px 0 35px;
        line-height: 1.2;
    }

    .section-bonus .field-items span {
        font-family: "avenirnext regular";
        font-size: 28px;
        font-weight: 400;
        color: #FFF;
        display: block;
    }

    .section-search h1 {
    color: #006138;
    font-size: 30px;
    margin: 40px 30px 20px;
}

    .search-form {
        display: block;
        position: relative;
        width: 85%;
        margin: 0 auto;
    }

    .srh-box {
        width: 100%;
        padding: 5px 30px;
        height: 40px;
        font-size: 17px;
        border: 0 none;
        text-align: center;
        border-radius: 15px;
        font-family: "myriad pro";
    }

    .section-search {
        height: 245px;
    }

    .section-search-result {
        display: none;
    }

    #delight_home_section_block {
        height: auto;
        width: 100%;
        float: left;
    }

    #new_delight_free_sim_section {
        width: 100%;
        float: left;
        background: #129F98 none repeat scroll 0 0;
        min-height: 100%;
        height: 335px;
    }

    #delight_home_section_block .ui-accordion h3 {
        background: #026838 none repeat scroll 0 0;
        margin-top: 0;
        border: 0 none;
        border-radius: 0;
        text-transform: capitalize;
        display: table;
        width: 100%;
        height: 108px;
        font-family: "avenirnext demibold";
    }

    #delight_home_section_block .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        top: 30px;
    }

    #delight_home_section_block .ui-accordion h3 a {
        font-size: 25px;
    }

    #new_delight_free_sim_section .node-article .field-item {
        font-family: "avenirnext medium";
		font-weight:bold;
        font-size: 32px;
        color: #FFF !important;
        outline: 0 none;
        margin-top: 20px;
        line-height: 1.3;
    }

    #new_delight_free_sim_section .content {
        padding-left: 0;
        text-align: center;
    }

    #new_delight_free_sim_section .node-article .field-item a {
        background: #FFF none repeat scroll 0 0;
        border-radius: 13px;
        color: #585858;
        font-size: 20px;
        padding: 3px 45px;
        margin-left: 0;
        font-family: "avenirnext medium";
    }

    #community-section img {
        transform: translate(-42%,0px);
        width: 1920px;
        height: 341px;
    }

    #community-section .node-article h1 {
        font-family: "avenirnext demibold";
        font-size: 38px;
        color: #FFF !important;
        outline: 0 none;
    }

    #community-section .node-article h2 {
        font-family: "avenirnext regular";
        font-size: 36px;
        color: #F9EA37 !important;
        outline: 0 none;
        margin-top: 0;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    .footer section {
        width: 100% !important;
    }

    .footer ul li a {
        color: #FFF;
        font-size: 20px !important;
        padding: 0 !important;
        font-family: "latosemibold";
        line-height: 1.8;
    }
	#delight_copyright_section section {
    color: #FFF;
    font-size: 18px !important;
    padding: 0px 0 0 20px !important;
    font-family: "latosemibold";
    line-height: 1.8;
    margin-bottom: 30px;
    margin-left: 0px;
} 
#block-menu-menu-legal-menu-links ul li a{
font-size:20px;
}
#block-copyright-block-copyright-block{
font-size:20px!important;

}

    .block h2.block-title {
        margin: 10px 0 0 0;
        font-size: 20px !important;
    }

    .left-column {
        float: left;
        width: 8%;
        display: none;
    }

    .right-column {
        float: left;
        width: auto;
        margin: 0 20%;
    }

    .right-column a {
        background: #FFF none repeat scroll 0 0;
        color: #666;
        font-size: 25px;
        font-family: "avenirnext demibold";
        display: block;
        width: 100%;
        padding: 4px 12px;
        border: 2px solid #989898;
        text-decoration: none;
        border-radius: 16px;
        text-align: center;
        margin-top: 20px;
    }

    #community-section .field-item .container-box {
        position: absolute;
        top: 15%;
        margin: 0;
        width: 100%;
    }
	.payg_content_section .field-type-text-with-summary .field-item p {
    margin-top: 20px;
}
.page-node-19 .node-payg .content .field-item strong {
    font-family: "avenirnext demibold";
    color: #058C36;
    font-size: 26px;
    text-align: center;
}
.page-node-19 .node-payg .list-inline.links li:nth-child(-n+2) a {
    font-size: 20px;
}
.page-node-19 .node-payg .list-inline.links li a {
    font-size: 20px;
 }
 .page-node-20 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 3em;
}
.page-node-20 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-20 #dm-title h1 {
    line-height: 1.3;
    margin: 0px;
    text-shadow: 5px 5px 20px #000;
}
.page-node-20 #dm-title {
    position: absolute;
    top: 340px;
    left: 15%;
}
.page-node-20 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 3em;
}
.page-node-20 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 1.5em;
}
.page-node-15 #header_banner img {
    height: 530px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-22%, 0px);
}
.page-node-17 #header_banner img {
    height: 530px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-48%, 0px);
}
.page-node-15 .payg_content_section .content h1 {
    font-family: "avenirnext demibold";
    font-size: 32px;
    color: #026A39;
}
.header-bar img {
    position: absolute;
    left: 24px;
    top: -34px;
    width: 90px;
    border-radius: 25px;
    border: 0px solid #048D35;
}
.page-node-17 #dm-title {
    position: absolute;
    top: 300px;
    left: 12%;
}
.page-node-17 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: "avenirnext demibold";
}
.page-node-17 #dm-title .white {
    color: #FFF;
    font-size: 3em;
    font-family: "avenirnext regular";
}
#delight_payg_rates_section2_block .list-inline.links li:nth-child(-n+2) a {
    font-size: 20px;
}
#delight_payg_rates_section2_block .list-inline.links li a {
    font-size: 20		px;
}
.page-node-20 #delight_payg_rates_section1_block h1 {
    color: #006138;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;
}
.page-node-38 #dm-title {
    position: absolute;
    left: 5%;
}
.page-node-38 #dm-title .white {
    color: #FFF;
    font-size: 2.6em;
    font-family: "avenirnext regular";
}
.page-node-55 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 3em;
}
.page-node-55 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    text-align: right;
    font-size: 2.5em;
}
.page-node-55 #dm-title {
    position: absolute;
    top: 165px;
    right: 12%;
}
.sim-order {
    text-align: left;
}
aside.col-sm-3 {
    width: 100%;
    padding: 0 15px 0 15px;
}
#content-wrapper.col-sm-9 {
    width: 100%;
	padding: 0 15px 20px 15px;
}
form.webform-client-form .form-item label {
    color: #008E36;
    font-family: "avenirnext regular";
    width: 100%;
    float: left;
    font-size: 15px;
}
form.webform-client-form input.form-control, form.webform-client-form select.form-control {
    height: 40px;
    width: 100%;
    float: left;
    font-size: 16px;
    border-radius: 6px;
}
form.webform-client-form textarea.form-control {
    width: 100% !important;
    float: right;
}
form.webform-client-form .form-item {
    margin-bottom: 10px;
    height: 65px;
    display: block;
}
#faq-wrapper.col-sm-9 {
    width: 100%;
    padding: 0px 15px 20px 15px;
}

.node-type-faq #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
.node-type-faq.page-node-47 #dm-title .yellow {
    color: #E3E300;
    font-size: 2.5em;
	line-height:1.4;
    font-family: "avenirnext demibold";
}
.node-type-faq  #dm-title {
    position: absolute;
    top: 285px;
    left: 12%;
}
.page-node-98 #dm-title {
    position: absolute;
    top: 280px;
    left: 7%;
}
.page-node-98 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 3.5em;
}
#content-wrapper {
    padding:30px 15px 30px 15px;
}
.page-topup #content-wrapper {
    padding:30px 15px 30px 15px;
}
.page-order-freesim  #content-wrapper {
    padding:30px 15px 30px 15px;
}
#operator_list ul li {
    background-color: #E4E4E4;
    border: 1px solid #D0D0D0;
    vertical-align: middle;
    padding: 5px;
    width: 47% !important;
    float: left;
    margin: 5px;
    font-size: 13px;
}
#topup-registration-form .reg-box label {
    width: 30%;
    font-family: "lato bold";
    font-size: 13px;
    text-align:right;
    font-weight: 400;
    display: inline-block;
	padding-right:2%;

}
#topup-registration-form .reg-box .form-control {
    width: 73%;

}
#topup-registration-form .reg-box .form-control {
    width: 68%;
    display: inline-block;
    height: 35px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 18px;
    font-family: "lato regular";
}
#topup-registration-form #edit-btn-submit.form-submit {

    height: 44px;
}
#topup-registration-form #edit-btn-submit.form-submit {
width: 70%;
margin-left:30%;
}

#topup-registration-form .col-sm-7 {
    width: 100%;
    text-align: center;
	padding:0;
}
#topup-registration-form .col-sm-5 {

	padding:0;
}
#topup-registration-form .col-sm-6 {
    width: 100%;
    text-align: center;
	margin-top:20px;
	
}
#edit-topup-desc {
    margin-top: 20px;
}
#edit-form-title label {
    width: 100%;
    text-align: center;
}
#edit-auto-topup-opt {
    border: 2px solid #CCC;
    border-radius: 20px;
    margin-right: 0px;
    width: 250px;
    margin: 0 auto;
}
.form-item-auto-topup-opt label[for="edit-auto-topup-opt"] {
    font-family: "lato bold";
    font-size: 18px;
    color: #026633;
    margin-bottom:5px;
}
.footer .block-title {
    font-size: 15px;
    margin: 0px;
    color: #FFF;
    padding: 3px 0px !important;
    font-family: "lato bold";
}
#edit-topup-desc label {
    font-family: "lato regular";
    font-size: 16px;
    font-weight: 400;
}
#topup-registration-form .form-submit::after {
    content: url("../images/arrow.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}
.page-node-13 .payg_content_section .field-item {
    font-family: "avenirnext regular";
    font-size: 18px;
    float:none;
}
.page-node-13 .payg_content_section .field-type-text-with-summary .field-item p {
    font-family: "avenirnext regular";
    font-size: 20px;
    float: none;
    margin-bottom: 0px;
    line-height: 1.6;
}
#delight_home_section_block .ui-accordion .ui-widget-content {
    border: 0px none;
    height: auto !important;
    font-family: "avenirnext regular";
    font-size: 18px;
}
.page-node-13 .header-bar img {
    position: absolute;
    left: 15px;
    top: -22px;
}
.page-node-13 .header-bar p {
    display: inline-block;
    font-size: 25px;
    margin-left: 30%;
    padding: 3px 0px;
}
.page-node-19 #delight_payg_rates_section1_block input {
    width: 100%;
}
#delight_payg_rates_section1_block form {
    position: relative;
    display: table;
    margin: 0px auto;
    width: 90%;
}
.page-node-20 #delight_payg_rates_section1_block input {
    width: 100%;
}
#header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 75px;
    width: 200px !important;
    height: auto !important;
    border-radius: 0px;
}
#header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 60px;
    width: 270px !important;
    height: auto !important;
    border-radius: 0px;
}
.page-node-7 #dm-title {
    position: absolute;
    left: 12%;
    top: 235px;
}
form.webform-client-form {
    background: #DFECBB none repeat scroll 0% 0%;
    padding: 50px 25px 15px;
    border-radius: 10px;
    float: left;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

#header_banner img {
    height: 390px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-45%, 0px);
}

#topup-registration-form #edit-btn-submit.form-submit {
    width: 100%;
    margin-left: 0%;
}
.page-node-55 #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-30%, 0px);
    height: 390px;
}
.node-type-legel-page #dm-title .yellow {
    color: #E3E300;
    font-size: 2em;
    font-family: "avenirnext demibold";
}
.node-type-cheap-call-rates #dm-title .yellow {
    color: #E3E300;
    font-size: 2.5em;
    font-family: "avenirnext demibold";
}
.node-type-cheap-call-rates #dm-title .white {
    color: #FFF;
    font-size: 21px;
    font-family: "avenirnext regular";
}
#main_country_flag {
    position: relative;
    top: -10px;
    left: 0px;
}
.page-node-52 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-52 #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
.node-type-faq #dm-title {
    position: absolute;
    top: 232px;
    left: 12%;
}
.page-node-52 #dm-title {
    position: absolute;
    top: 110px;
    left: 11%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
}
.page-node-19 #dm-title .yellow {
    color: #E3E300;
    font-size: 2.5em;
    font-family: "avenirnext demibold";
}
.page-node-19 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-19 #dm-title {
    position: absolute;
    top: 138px;
    text-align: right;
    text-shadow: 0px 0px 10px #0E0E0E;
    right: 8%;
}
#roamingResults .header-bar p {
    display: inline-block;
    font-size: 18px;
    padding: 3px 0px;
    margin-left: 30%;
}
.page-node-19 #delight_payg_rates_section1_block h1 {
    color: #006138;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 20px;
}
.navbar .logo img {
    height: 100px;
}
.page-node-7 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 1.5em;
}
.page-node-7 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    margin-bottom: 20px;
    font-size: 2em;
}
.page-node-7 #dm-title {
    position: absolute;
    top: 175px;
    left: 45px;
}
.page-node-43 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-43 #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
.page-node-43 #dm-title {
    position: absolute;
    top: 160px;
    left: 7%;
}
.section-bonus .field-items p {
     font-size: 22px;
}
.top-links a {
    display: block;
    width: 50%;
    float: left;
    padding: 3px 20px;
    color: #FFF;
    font-size: 18px;
    font-family: "avenirnext demibold";
    cursor: pointer;
}
#navbar .navbar-header {
    padding-right: 20px;
}
#navbar.navbar.container {
    margin-top: 15px;
    margin-bottom: 0px;
}
.section-bonus .field-items span {
    font-size: 22px;
}
.section-bonus .find-btn {
    font-size: 20px;
}
.section-bonus .field-items {
    margin-bottom: 15px;
}
.section-search h1 {
    color: #006138;
    font-size: 23px;
    margin: 30px 0 20px;
}
.section-bonus .field-items p {
    font-family: "avenirnext demibold";
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0px 10px;
    line-height: 1.2;
}
#delight_home_section_block .ui-accordion h3 {
    height: 70px;
}
#new_delight_free_sim_section .node-article .field-item {
    font-family: "avenirnext medium";
    font-weight: bold;
    font-size: 25px;
    color: #FFF !important;
    outline: 0px none;
    margin-top: 20px;
    line-height: 1.3;
}
#community-section .node-article h2 {
    font-family: "avenirnext regular";
    font-size: 30px;
    color: #F9EA37 !important;
    outline: 0px none;
    margin-top: 0px;
}
#community-section .node-article h1 {
    font-family: "avenirnext demibold";
    font-size: 30px;
    color: #FFF !important;
    outline: 0px none;
}
.right-column {
    float: left;
    width: auto;
    margin: 0px 12%;
}
.page-node-13 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 3em;
}
.page-node-13 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext bold";
    font-size: 3em;
}
.page-node-13 #dm-title {
    position: absolute;
    top: 132px;
    left: 12%;
}
#delight_home_section_block .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    top: 10px;
}
.page-node-13 .header-bar img {
    position: absolute;
    left: 20px;
    top: -22px;
	width:70px;
	border-radius:15px;
	
}
.header-bar img {
    position: absolute;
    left: 20px;
    top: -10px;
	width:70px;
	border-radius:15px;
}
#delight_payg_rates_section3_block .header-bar p {
    display: inline-block;
    font-size: 25px;
    margin-left: 29%;
    padding: 3px 0px;
    font-family: "avenirnext medium";
}
.section-rate-compare form[name="frm_compare_rates"] {
    color: #2D2E82;
    font-family: "avenirnext medium";
    font-size: 25px;
    padding: 20px 20px 0px 20px;
}
.section-rate-compare form input[name="txt_country"] {
   margin-top:20px;
    width:100%;
   
}
.section-rate-compare {
     padding-bottom: 30px;
   }
   .payg_content_section .field-type-text-with-summary .field-item strong {
    font-family: "avenirnext demibold";
    font-size: 18px;
    color: #036733;
    width: 100%;
    line-height: 1.1;
}
.page-node-15 #header_banner img {
    height: 480px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-22%, 0px);
}

.page-node-13 .header-bar p {
    display: inline-block;
    font-size: 18px;
    margin-left: 32%;
    padding: 3px 0px;
}
#delight_payg_rates_section3_block .button-group a {
    font-size: 20px;
    padding: 4px 20px;
    margin-bottom: 20px;
    width: 100%;
}
#delight_payg_rates_section2_block .container .row:nth-of-type(1) .col-md-12 ul li img {
    width: 60px;
}
#delight_payg_rates_section2_block .list-inline > li {
    display: block;
    text-align: center;
    height: 100px;
    float: left;
    width: 33.333%;
}
#delight_payg_rates_section2_block .list-inline > li > a {
    display: block;
    color: #1E1E1E;
    text-align: center;
    margin-top: 5px;
    white-space: normal;
}
#delight_payg_rates_section2_block .list-inline.links > li {
    display: block;
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
    height: auto;
}
#delight_payg_rates_section2_block .list-inline.links li:nth-child(-n+2) a {
    font-size: 20px;
}
#delight_payg_rates_section2_block .list-inline.links li a {
    font-size: 20px;
}
#delight_payg_rates_section2_block .list-inline > li {
    display: block;
    text-align: center;
    height: 100px;
    float: left;
    width: 33.333%;
    margin-top: 5px;
}
.header-bar p {
    display: inline-block;
    font-size: 20px;
    margin-left: 33%;
    padding: 3px 0px;
}
.page-node-17 #header_banner img {
    height: 380px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-48%, 0px);
}
.page-node-17 #dm-title {
    position: absolute;
    top: 170px;
    left: 12%;
}
#delight_payg_rates_section1_block .section-search form[name="frm_compare_rates"] {
    position: relative;
    display: inline-block;
	width:90%;
}
#delight_payg_rates_section1_block .section-search form[name="frm_compare_rates"] input {
    width: 100%;
  
}
.page-node-17 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-17 #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
.section-search h1 {
    color: #006138;
    font-size: 23px;
    margin: 30px 0px 10px;
}
.page-node-20 #dm-title {
    position: absolute;
    top: 125px;
    left: 15%;
}
.page-node-20 #delight_payg_rates_section1_block h1 {
    color: #006138;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 20px;
}
.page-node-53 #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
	margin-bottom:10px;
}
.page-node-53 #dm-title .white {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.sim-order a {
    font-size: 20px;
}
.sim-order h1 {
    color: #FFF;
    font-size: 25px;
    font-family: "avenirnext medium";
    margin-top: 10px;
}
.page-node-54 #dm-title .white {
    color: #E3E300;
    font-size: 2.5em;
    font-family: "avenirnext bold";
	margin-bottom:10px;
}
.page-node-54 #dm-title .yellow {
    color: #FFF;
    font-size: 2em;
    font-family: "avenirnext regular";
}
.page-node-54 #header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 80px;
    width: 200px !important;
    height: auto !important;
    border-radius: 0px;
}
.node-type-faq #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-53%, 0px);
    height: 380px;
}


.page-node-12 #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-50%, 0px);
    height: 240px;
}
.page-node-12 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext medium";
    font-size: 2em;
}
.page-node-12 #dm-title {
    position: absolute;
    top: 80px;
    left: 10%;
}
.page-node-12 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 1em;
}
.node-type-faq #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-53%, 0px);
    height: 255px;
}
.node-type-faq #dm-title .yellow {
    color: #E3E300;
    font-size: 2em;
    font-family: "avenirnext demibold";
}
.node-type-faq #dm-title {
    position: absolute;
    top:145px;
    left: 12%;
}
#topup-registration-form .reg-box label {
    width: 100%;
    font-family: "lato bold";
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    display: inline-block;
    padding-right: 0%;
}
#topup-registration-form .reg-box .form-control {
    width: 100%;
    display: inline-block;
    height: 35px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 18px;
    font-family: "lato regular";
}
#freesim-registration-form .form-type-radio {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0px;
    width: 100%;
}
#freesim-registration-form .checkbox {
    padding-left: 0px;
    float: left;
    margin-top: 0px;
    height: 85px;
}
#freesim-registration-form #edit-btn-submit.form-submit::after {
    right: 16px;
    top: 4px;
}
#edit-reg-link .register-btn::after {
    content: url("../images/arrow.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 4px;
}

}
@media (min-width: 320px) and (max-width: 430px){
.navbar .logo img {
    height: 110px;
}
#roamingResults .header-bar p {
    display: inline-block;
    font-size: 16px;
    margin-left: 31%;
    padding: 3px 0px;
}
#freesim-registration-form .checkbox {
    padding-left: 0px;
    float: left;
    margin-top: 0px;
    height: 85px;
}
.section-rate-compare form[name="frm_compare_rates"] {
    color: #2D2E82;
    font-family: "avenirnext medium";
    font-size: 30px;
    padding: 20px 30px 0px;
}
.node-type-faq #dm-title {
    position: absolute;
    top:145px;
    left: 12%;
}
.page-node-7 #dm-title {
    position: absolute;
    top: 195px;
    left: 14%;
}
.node-type-faq #dm-title .yellow {
    color: #E3E300;
    font-size: 2em;
    font-family: "avenirnext demibold";
}
.page-node-12 #header_banner img {
    height: 320px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-50%, 0px);
}
#header-bar-flag .header-bar img {
 position: absolute;
left: 25px;
top: 56px;
width: 270px !important;
height: auto !important;
border-radius: 0px;
}
#header_banner img {
    height: 480px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-45%, 0px);
}
.page-node-12 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 1.5em;
}
.page-node-12 #dm-title {
    position: absolute;
    top: 83px;
    left: 10%;
}

.page-node-12 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext medium";
    font-size: 2.5em;
}
.node-type-faq #header_banner img {
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-53%, 0px);
    height: 255px;
}
.page-node-43 #dm-title .white {
    color: #FFF;
    font-size: 2.5em;
    font-family: "avenirnext regular";
}
#edit-reg-link .register-btn::after {
    content: url("../images/arrow.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 4px;
}
.page-node-43 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: "avenirnext demibold";
}
.header-bar p {
    display: inline-block;
    font-size: 20px;
    margin-left: 33%;
    padding: 3px 0px;
}
.page-node-7 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    margin-bottom: 20px;
    font-size: 2.6em;
}
.page-node-7 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 2em;
}
.page-node-54 #dm-title .white {
    color: #E3E300;
    font-size: 3.5em;
    font-family: "avenirnext bold";
}
.page-node-54 #dm-title .yellow {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 3em;
}
.page-node-54 #header-bar-flag .header-bar img {
    position: absolute;
    left: 25px;
    top: 80px;
    width: 200px !important;
    height: auto !important;
    border-radius: 0px;
}

.top-links a {
    display: block;
    width: 50%;
    float: left;
    padding: 3px 20px;
    color: #FFF;
    font-size: 20px;
    font-family: "avenirnext demibold";
    cursor: pointer;
}
.section-bonus .field-items p {
    font-family: "avenirnext demibold";
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px 20px;
    line-height: 1.2;
}
.section-search h1 {
    color: #006138;
    font-size: 28px;
    margin: 40px 0 20px;
}
.search-form {
    display: block;
    position: relative;
    width: 90%;
    margin: 0px auto;
}
.page-node-7 #dm-title {
    position: absolute;
    top: 230px;
    left: 14%;
}
#new_delight_free_sim_section {
    width: 100%;
    float: left;
    background: #129F98 none repeat scroll 0px 0px;
    min-height: 100%;
    height: 310px;
}
#new_delight_free_sim_section .node-article .field-item {
    font-size: 28px;
   
}
.section-search {
    height: 245px;
	padding: 0px 15px;
}
#delight_home_section_block .ui-accordion .ui-accordion-content {
    padding: 20px 20px;
    border-radius: 0px;
}
#community-section .field-item .container-box {
    position: absolute;
    top: 5%;
    margin: 0px;
    width: 100%;
}
.right-column {
    float: left;
    width: auto;
    margin: 0px 10%;
}
#community-section .node-article h1 {
    font-family: "avenirnext demibold";
    font-size: 36px;
    color: #FFF !important;
    outline: 0px none;
}

#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 1.2em;
    padding-right: 15px;
}
.page-node-13 #dm-title {
    position: absolute;
    top: 220px;
    left: 12%;
}
.payg_content_section .field-type-text-with-summary .field-item strong {
    font-family: "avenirnext demibold";
    font-size: 20px;

}
.page-node-13 .payg_content_section .field-type-text-with-summary .field-item p {
    font-family: "avenirnext regular";
    font-size: 18px;
    float: none;
    margin-bottom: 0px;
    line-height: 1.6;
}
.page-node-15 #header_banner img {
    height: 480px;
    transform-origin: right top 0px;
    margin-right: 10px;
    transform: translate(-22%, 0px);
}
#topup-registration-form .reg-box label {
    width: 100%;
    font-family: "lato bold";
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    display: inline-block;
    padding-right: 0%;
}
.header-bar img {
    position: absolute;
    left: 20px;
    top: -14px;
    width: 75px;
    border-radius: 15px;
    border: 0px solid #048D35;
}
.header-bar p {
    display: inline-block;
    font-size: 25px;
    margin-left: 35%;
    padding: 3px 0px;
}
#community-section .node-article h1 {
    font-family: "avenirnext demibold";
    font-size: 30px;
    color: #FFF !important;
    outline: 0px none;
}
#community-section .node-article h2 {
    font-family: "avenirnext regular";
    font-size: 28px;
    color: #F9EA37 !important;
    outline: 0px none;
    margin-top: 0px;
}
#community-section .field-item > img {
    transform: translate(-620px, 0px);
	height:260px!important;
}
#delight_home_section_block .ui-accordion h3 {

    height: 75px;

}
#delight_home_section_block .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    top: 10px;
}
#delight_home_section_block .ui-accordion h3 a {
    font-size: 20px;
}
#topup-registration-form .reg-box .form-control {
    width: 100%;
    display: inline-block;
    height: 35px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 18px;
    font-family: "lato regular";
}
#topup-registration-form #edit-btn-submit.form-submit {
    width: 100%;
    margin-left: 0%;
}
.page-node-17 #header_banner img {
    height:480px;
    
}
.page-node-17 #dm-title .white {
    color: #FFF;
    font-family: "avenirnext regular";
    font-size: 2em;
	line-height:1.2;
}
.page-node-17 #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 3.5em;
}
.page-node-17 #dm-title {
    position: absolute;
    left: 8%;
    top: 200px;
}
#delight_payg_rates_section1_block .section-search form[name="frm_compare_rates"] {
    width:90%;
}
.section-search h1 {
    color: #006138;
    font-size: 26px;
    margin: 40px 0px 15px;
}
.page-node-17 #delight_payg_rates_section2_block p {
    font-size: 18px;
    font-family: "avenirnext medium";
    padding: 4px 0px;
    background: #458F6A none repeat scroll 0% 0%;
    color: #FFF;
    width: 100%;
    float: left;
    display: block;
    text-align: center;
}
#delight_payg_rates_section2_block .container .row:nth-of-type(1) .col-md-12 ul li img {
    width: 60px;
}
#delight_payg_rates_section2_block .list-inline > li {
    display: block;
    text-align: center;
    width: 33.333%;
    height: 100px;
    float: left;
}
#delight_payg_rates_section2_block .list-inline > li > a {
    display: block;
    color: #1E1E1E;
    text-align: center;
    margin-top: 5px;
    white-space: normal;
}
#delight_payg_rates_section2_block .list-inline.links > li  {
 display: block;
width: 100%;
padding: 0px;
margin-bottom: 15px;
height:auto;
}
#delight_payg_rates_section2_block .list-inline.links li a {
    font-size: 20px;
}
.page-node-19 #dm-title {
    position: absolute;
    top: 150px;
    right: 12%;
    text-align: right;
    text-shadow: 0px 0px 10px #0E0E0E;
}
.page-node-19 #dm-title .white {
    color: #FFF;
    font-size: 2.5em;
    font-family: "avenirnext regular";
    line-height: 1.2;
}
.page-node-19 #delight_payg_rates_section1_block .section-rate-compare {
    background: transparent url("../images/bg-search.jpg") no-repeat scroll center center / cover;
    width: 100%;
    display: block;
    text-align: center;
    float: left;
    height: 265px;
	padding:0 20px 0 20px;
}
#delight_payg_rates_section1_block form {
    position: relative;
    display: table;
    margin: 0px auto;
	width:90%;
}
.page-node-19 #delight_payg_rates_section1_block input {
    width:100%;
}
.page-node-19 #delight_payg_rates_section1_block h1 {

    font-size: 30px;
  
}
.smart-roaming-content {
    float: left;
    width: 100%;
    padding: 0 0 50px 0;
}
.page-node-20 #dm-title {
    position: absolute;
    top: 230px;
    left: 0px;
    text-align: center;
    width: 100%;
	padding:0 20px 0 20px;
}
.page-node-20 #delight_payg_rates_section1_block .section-rate-compare {
 padding:0 20px 0 20px;
}
.page-node-20 #delight_payg_rates_section1_block input {
    width:100%;
}
.node-20 #delight_payg_rates_section1_block .section-rate-compare {

    height: 260px;
}
.page-node-20 #delight_payg_rates_section1_block h1 {
  
    font-size: 22px;
 
}
#navbar .navbar-header {
    padding-right: 20px;
}
.page-node-38 #dm-title .white {
    color: #FFF;
    font-size: 2.5em;
    font-family: "avenirnext regular";
}
.page-node-38 #dm-title .yellow {
    font-size: 3em;
}
#bundle-wrapper {
    padding: 30px 15px  30px 15px;
}
.page-node-51 #dm-title {
    position: absolute;
    top: 174px;
    left: 5%;
}
.page-node-55 #dm-title {
    position: absolute;
    top: 140px;
    right: 8%;
}
#freesim-registration-form .form-type-radio {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0px;
    width: 100%;
}
#freesim-registration-form .free-sim-details {
    padding: 20px;
}
#freesim-registration-form #edit-btn-submit.form-submit::after {

    right: 16px;
    top: 4px;
}

#roamingResults .header-bar img {
    position: absolute;
    left: 20px;
    top: -8px;
}

}



@media only screen and (min-width :1600px) {
 #community-section .field-item > img {
    width:100%!important;
}
#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 30%;
}
#delight_home_section_block .ui-accordion .ui-accordion-content {
    padding-left: 30%;
    border-bottom-right-radius: 0px;
}
}

@media only screen and (min-width :1700px) {
 #community-section .field-item > img {
    width:100%!important;
}
#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 35%;
}
#delight_home_section_block .ui-accordion .ui-accordion-content {
    padding-left: 35%;
    border-bottom-right-radius: 0px;
}
}
@media only screen and (min-width :1800px) {
 #community-section .field-item > img {
    width:100%!important;
}
#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 40%;
}
#delight_home_section_block .ui-accordion .ui-accordion-content {
    padding-left: 40%;
    border-bottom-right-radius: 0px;
}
}
@media only screen and (min-width :992px) and (max-width :1093px) {
#delight_home_section_block .ui-accordion .ui-widget-content {
    border: 0px none;
    height: auto !important;
    font-family: "avenirnext regular";
    font-size: 16px;
}

}
@media only screen and (min-width :1093px) and (max-width :1360px) {
#delight_home_section_block .ui-accordion .ui-widget-content {
    border: 0px none;
    height: auto !important;
    font-family: "avenirnext regular";
    font-size: 14px;
}
}
@media only screen and (min-width :480px) and (max-width :650px) {
#main_country_flag {
    position: relative;
    top: -2px;
    left: -40px;
}
.node-type-cheap-call-rates #dm-title .yellow {
    color: #E3E300;
    font-family: "avenirnext demibold";
    font-size: 38px;
}
.node-type-cheap-call-rates #dm-title .white {
    color: #FFF;
    font-size: 27px;
    font-family: "avenirnext regular";
}


}
@media only screen and (min-width :993px) and (max-width :1200px) {
#header_banner img {
    transform: translate(-20%, 0px);
    height: 550px;
}
#dm-title {
    position: absolute;
    top: 185px;
}
#delight_copyright_section .menu li a, #delight_copyright_section .menu li a:hover, #delight_copyright_section .menu li a:focus {
    color: #FFF;
    border-left: 2px solid #FFF;
    padding: 0px 12px;
    background: transparent none repeat scroll 0% 0%;
    font-family: "latosemibold" !important;
}
#delight_copyright_section .menu li.first a{
 border-left: 0px solid #FFF;
}
#delight_copyright_section .menu{
 border-left: 0px solid #FFF;
 margin-top:20px;
}
.navbar .logo img {
    height: 150px;

}
.navbar .offer-logo img {
    height: 150px;
	
}
.payg_content_section .field .field-item img {
    float: left;
    position: relative;
    top: -2px;
    height: auto!important;
    width: 200px;
}
.page-node-13 .payg_content_section .node-payg {
    padding: 0px 65px;
}
.page-node-13 .header-bar p {
    margin-left: 22%;
}
.page-node-13 #dm-title {
    position: absolute;
    top: 165px;
    left: 9%;
}
#delight_payg_rates_section3_block .button-group {
    width: 100%;
    float: left;
	margin-bottom:20px;
}
#delight_payg_rates_section3_block p {
    float: left;
    font-family: "avenirnext regular";
    font-size: 16px;
    width:100%;
	
}
.page-node-15 #dm-title {
    position: absolute;
    top: 100px;
    left: 13%;
}

.header-bar p {
    margin-left: 16%;
}
#delight_payg_rates_section2_block .list-inline.links li a {
    font-family: "avenirnext medium";
    background: #026938 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;
    padding: 4px 16px;
    text-align: center;
    width: 100%;
    display: block;
}
#delight_payg_rates_section2_block .list-inline.links li:nth-child(-n+2) a {
    font-family: "avenirnext medium";
    background: #39B2AD none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;
    padding: 4px 16px;
    text-align: center;
    width: 100%;
    display: block;
}
.table1 thead th {
    padding: 15px 15px;

}

.page-node-19 .node-payg .list-inline.links li:nth-child(-n+2) a {
      font-size: 16px;
  }
.page-node-19 .node-payg .list-inline.links li a {
    font-size: 16px;
   }
 .page-node-20 #dm-title {
    position: absolute;
    top: 320px;
    left: 5%;
}
.page-node-20 .node-payg .list-inline.links li:nth-child(-n+2) a {
     font-size: 16px;
}
.page-node-20 .node-payg .list-inline.links li a {
    font-size: 16px;
}
.page-node-38 #dm-title {
    position: absolute;
    top: 60px;
    left: 12%;
}
#offer-wrapper .field .field-item img {
    float: left;
    position: relative;
    top: -2px;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
}
.page-node-51 #dm-title {
    position: absolute;
    top: 125px;
    left: 13%;
}
.page-node-55 #dm-title {
    position: absolute;
    top: 180px;
    right: 2%;
}
.page-node-52 .header-bar img {
    position: absolute;
    left: 65px;
    top: -2px;
    width: 320px;
}
.page-node-52 .header-bar {
    margin-top: 15px;
}
.page-node-43 .field-name-field-terms-and-conditions {
    margin-left: 30%;
}
.page-node-53 #dm-title {
    position: absolute;
    top: 100px;
    left: 7%;
}
.page-node-53 #dm-title .yellow {
    color: #E3E300;
    font-size: 6em;
    font-family: "avenirnext demibold";
}
.sim-order h1 {
    font-size: 25px;
}
.sim-order a {
    color: #058C36;
    font-size: 20px;
	}
	
.page-node-54 .header-bar img {
    position: absolute;
    left: 30px;
    top: -22px;
    width: 260px !important;
	height:auto!important;
}
.page-node-54 #header-bar-flag .header-bar p {
    margin-left: 0%;
    text-indent: 188px;
	text-align:center;
}
#vendor-section {
    display: block;
    width: 100%;
    float: left;
    border-top: 10px solid #3BAA34;
    padding-bottom: 50px;
    padding-top: 45px;
}
#vendor-section  img {
    width: 800px!important;
    height: auto!important;
}
.page-node-54 #dm-title {
    top: 210px;
}
.node-type-webform #header_banner img,.node-type-faq #header_banner img {
    transform: translate(-32%, 0px);
    height:auto;
}
.page-node-12 #dm-title {
    position: absolute;
    top: 100px;
    left: 3%;
}
.node-webform .write {
    width: 47%;
}
form.webform-client-form .form-item label {
    color: #008E36;
    font-family: "avenirnext regular";
    width: 25%;
    float: left;
    font-size: 15px;
}
form.webform-client-form input.form-control, form.webform-client-form select.form-control {
    height: 40px;
    width: 75%;
    float: left;
    font-size: 16px;
    border-radius: 6px;
}
form.webform-client-form textarea.form-control {
    width: 75% !important;
    float: right;
}
form.webform-client-form .webform-submit {
    background: #036733 none repeat scroll 0% 0%;
    margin-left: 89%;
    margin-top: 20px;
}
.page-node-45 #dm-title {
    position: absolute;
    top: 160px;
    left: 16%;
}
#operator_list ul > li {
    font-size:16px;
}
.page-node-98 #dm-title {
    position: absolute;
    top: 265px;
    left: 15%;
}
#edit-topup-amount .form-item-topup-amount {
    margin: 20px 10px 0px 0px;
}
#topup-registration-form .col-sm-7{width:52%;}
#topup-registration-form .col-sm-5{width:48%;}
#topup-registration-form .col-sm-6{width:100%;}

#topup-registration-form .reg-box label {
    width: 40%;
	padding-right: 2%;

}
#topup-registration-form .reg-box .form-control {
    width: 58%;
    display: inline-block;
    height: 32px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 16px;
    font-family: "lato regular";
}
/* #edit-auto-topup-opt input[type="radio"]:not(old) + label {
    padding-left: 50px;
}
#edit-auto-topup-opt .form-item-auto-topup-opt {
    display: inline-block;
    margin: 0px 0px 10px;
	padding-left:13px;
}
 */
.form-item-auto-topup-opt label[for="edit-auto-topup-opt"] {
  
    margin-bottom: 20px;
	margin-top: 20px;
}
#topup-registration-form #edit-btn-submit.form-submit {
     width: 58%;
    margin-left:41%;

}
#edit-auto-topup-opt {
    border: 2px solid #CCC;
    border-radius: 20px;
    margin-right:45%;
}

}
@media only screen and (max-width :470px) {


.table3_mobile tbody th {
   padding:6px;
   font-size:12px;
}
.table3_mobile tbody th img {
   width:85%;
}
.table3_mobile thead th {

    font-weight: normal;
    font-size: 16px;
    
}
.table3_mobile tbody tr:first-child td {
    font-size: 18px;
   
}
.table3_mobile tbody td {
    padding: 8px;

}
.table2 tbody th {
    font-size: 10px;
    padding: 9px 4px;
}
.table2 tbody td {
    text-align: center;
    border: 1px solid #CCC;
    color: #1C1C1B;
    font-family: "avenirnext medium";
    padding: 5px 2px 5px 2px;
}
.page-node-19 .node-payg .content .field-item strong {
    font-family: "avenirnext demibold";
    color: #058C36;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}
table.table2 {
    font-family: "avenirnext medium";
    font-size: 11px;
    line-height: normal;
    font-style: normal;
    border-collapse: separate;
}
.table2 tbody th {

    box-shadow: 0px 0px 0px 2px #FFF inset;

}
.node-type-cheap-call-rates #dm-title .yellow {
    color: #E3E300;
    font-size: 2.5em;
    font-family: "avenirnext demibold";
}

}
@media only screen and (min-width :768px) and (max-width :840px) {
.table1 thead th {
    padding: 10px;
    color: #1C1C1B;
    border-width: 2px 2px 0px;
    border-style: solid solid none;
    border-color: #CCC #CCC -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-weight: normal;
    font-size: 13px;
    background: #EAEAEA none repeat scroll 0% 0%;
}
.node-type-cheap-call-rates #dm-title {
    position: absolute;
    top: 220px;
    left: 7%;
}
.node-type-cheap-call-rates #dm-title .yellow {
    color: #E3E300;
    font-size: 3em;
    font-family: "avenirnext demibold";
}
#main_country_flag img{width:80%;float:right;}
#main_country_flag {
    position: relative;
    top: 10px;
    left: 15px;
}
}
@media only screen and (min-width :250px) and (max-width :350px) {
#header-bar-flag .header-bar img {

    top: 80px;
  
}
}
@media only screen and (max-width :600px) {
#delight_sitemap_section .block {
    width: 100%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
	padding-bottom:30px;
}
.status-help ul li  span{
   display: block;
   width: 100%; 
   font-family: "avenirnext regular";
padding: 5px 12px;
}
.status-help ul li  label{
   display: block;
   width: 100%; 
   font-size:18px;
 padding: 5px 12px 5px 0px;

}
.status-help {
    display: block;
    background: transparent none repeat scroll 0% 0%;
    padding: 20px;
    border-radius: 30px;
    border: 4px solid #3BA836;
}

}